/* ********************************* */
/*                                   */
/* ALL SCREENS                       */
/*                                   */
/* ********************************* */

body {
    background-color: rgba(172, 196, 165, 0.75);
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* opening page */

.allnav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigcontainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 3em;
    text-align: center;
    font-size: 1em;

}

.bigsubcontainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 3em;
}

.bignavbox {
    margin-left: auto;
    margin-right: auto;
}


.vue-typer .custom.caret {
    width: 0.3em;
    background-color: rgb(242, 132, 53);
}

.vue-typer {

    font-weight:bold;
}

.vue-typer .custom.char.selected {
    background-color: rgb(242, 132, 53);
}

/* text in general */

.textcontainer, #innerfooter {
    width: 75%;
    margin: 0 auto;
}

.textcontainer p {
    margin-bottom: 1em;
    text-align: justify;
    margin-top: 1em;
}

.textcontainer img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.textcontainer img:nth-of-type(2n) {
    float: right;
    margin-left: 1em;
    margin-top: 0.5em;
}

.textcontainer a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(57, 75, 52);
}

.textcontainer a:hover, .textcontainer a:focus {
    text-decoration: underline;
}


/* FOOTER  */


#innerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#footer {
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: rgba(50,50,50, 0.95);
    color: rgb(214, 250, 203);
}

/* CV  */

.cvicon {
    height: 20px;
    width: 20px;
}


/* pubs */


.pubsicon {
    height: 20px;
    width: 20px;
}


/* the very occasional use of buttons */

button {
    color: rgb(214, 250, 203);
    padding: 2px;
    background-color: rgba(50,50,50, 0.75);
    border: none;
}


/* ********************************* */
/*                                   */
/* BIG SCREENS                       */
/*                                   */
/* ********************************* */

/* opening page */

@media (min-width: 700px) 
{

    .bigcontainer {
        width: 80%;
        flex-direction: row;
    }

    .bigsubcontainer {
        flex-direction: column;
    }

    .subcontainer {
        justify-content: space-around;
    }

    .vue-typer {
        font-size:3em;
    }

    .bignavlabel {
        font-size: 2em;
        margin-top: -0.25em;
    }

    .headline {
        margin-bottom: -3em;
    }

    .naviconimage {
        width: 70%;
        height: auto; 
    }

    .navicon {
        max-width: 150px;
    }

    /* footer */

    .textcontainer {
        margin-bottom: 1.6em;
    }
    #footer {
        height:1.4em;
    }

    #innerfooter {
        font-size: 0.8em;
    }

    #innerfooter .homelink{
        font-size: 1.2em;
        font-weight: bold;
    }

    .homelink .footericon{
        height: 15px;
        width: 15px;
    }

    .homelink{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* tabular data (cv, research page, external page with writing list) */

    th, td {
        padding: 12px 15px;
        text-align: left;
    }

    th:first-child, td:first-child {
        padding-left: 0; }

    th:last-child, td:last-child {
        padding-right: 0; }

    .mobileonly {
        display: none;
    }

/* text */

    h2{
        margin-bottom: 1.2m;
        margin-top: 1.2em;
    }

}



/* ********************************* */
/*                                   */
/* LITTLE SCREENS                    */
/*                                   */
/* ********************************* */

/* opening page */

@media (max-width: 699px) 
{

    .bigcontainer {
        flex-direction: column;
       /* margin-left: 0; */
    }

    .bigsubcontainer {
        flex-direction: row;
    }


    .subcontainer {
        justify-content: space-between;
    }

    .bignavlabel {
        font-size: 1.1em;
        margin-top: -0.25em;
    }

    .vue-typer {
        font-size:1.5em;
    }

    .headline {
        margin-bottom: -4em;
    }

    .navicon:nth-child(2n + 1) {
        padding-right: 2%
    }


    .navicon:nth-child(2n) {
        padding-left: 2%
    }

    .naviconimage {
        width: 60%;
        height: 60%; 
    }

    /* footer */

    .textcontainer {
        margin-bottom: 1.6em;
    }
    #footer {
        height:1.4em;
    }

    #innerfooter {
        font-size: 0.9em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homelink .footericon{
        height: 15px;
        width: 15px;
    }

    .homelink{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
    }

    /* some stuff just isn't going to display on mobile properly */

    .nomobile {
        display: none;
    }

    /* special formatting for stuff replacing tables on mobile screens */

    .mobilearticleblock {
        margin-top: 20px;
    }

    .mobilearticleflexcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobilearticleiconbuttons {
        display: flex;
        flex-direction: column;
    }
}
