/* ********************************* */
/*                                   */
/* ALL SCREENS                       */
/*                                   */
/* ********************************* */

body {
    background-color: rgba(172, 196, 165, 0.75);
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* opening page */


.bigcontainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 3em;
    text-align: center;
    font-size: 1em;

}

.bigsubcontainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 3em;
}

.bignavbox {
    margin-left: auto;
    margin-right: auto;
}


.vue-typer .custom.caret {
    width: 0.3em;
    background-color: rgb(109, 131, 103)
}

.vue-typer {

    font-weight:bold;
}


#footer {
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: rgba(50,50,50, 0.95);
    color: rgb(214, 250, 203);
}

/* text in general */

.textcontainer, #innerfooter {
    width: 75%;
    margin: 0 auto;
}

#innerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* cv  */

.cvicon {
    height: 20px;
    width: 20px;
}


/* pubs */


.pubsicon {
    height: 20px;
    width: 20px;
}




/* ********************************* */
/*                                   */
/* BIG SCREENS                       */
/*                                   */
/* ********************************* */

/* opening page */

@media (min-width: 700px) 
{

    .bigcontainer {
        width: 80%;
        flex-direction: row;
    }

    .bigsubcontainer {
        flex-direction: column;
    }

    .subcontainer {
        justify-content: space-around;
    }

    .vue-typer {
        font-size:3em;
    }

    .bignavlabel {
        font-size: 2em;
        margin-top: -0.25em;
    }

    .headline {
        margin-bottom: -3em;
        margin-left: 15%;
    }

    /* footer */

    .textcontainer {
        margin-bottom: 3em;
    }
    #footer {
        height:1.5em;
    }

    #innerfooter {
        font-size: 0.75em;
    }
}


/* ********************************* */
/*                                   */
/* LITTLE SCREENS                    */
/*                                   */
/* ********************************* */

/* opening page */

@media (max-width: 699px) 
{

    .bigcontainer {
        width: 95%;
        flex-direction: column;
    }

    .bigsubcontainer {
        flex-direction: row;
    }


    .subcontainer {
        justify-content: space-between;
    }

    .bignavlabel {
        font-size: 1.1em;
        margin-top: -0.25em;
    }

    .vue-typer {
        font-size:1.5em;
    }

    .headline {
        margin-bottom: -4em;
        margin-left: 30%;
    }

    /* footer */

    .textcontainer {
        margin-bottom: 1.5em;
    }

    #footer {
        height: 1em;
    }

    #innerfooter {
        font-size: 0.5em;
    }

}
